.b-argument {
  margin-top: 1rem;

  .ant-card-body {
    padding: 1rem;
  }

  .head {
    margin-bottom: 0.5rem;

    .avatar {
      margin-right: 0.2rem;
    }
  }

  .foot {
    text-align: right;
  }
}
