.b-topic-list {
  .topic-item {
    margin-bottom: 0.8rem;

    .ant-card-body {
      display: flex;

      @media screen and (max-width: 480px) {
        padding: 1rem;
      }
    }

    .item-content {
      flex: 1;
    }

    .title {
      margin-bottom: 1rem;
      font-size: 1.2rem;
    }

    .topic-item-footer {
      & > li {
        display: inline-block;
        cursor: pointer;
        padding: 0 8px;
        position: relative;
        font-size: 14px;
        line-height: 22px;
        text-align: center;

        &:first-child {
          padding-left: 0;
        }
      }

      .item {
        color: rgba(0, 0, 0, 0.45);
      }
    }

    .votes {
      align-self: center;
      display: inline-block;
      color: $white;
      border-radius: 4px;
      height: 1.2rem;
      line-height: 1.2rem;
      font-size: 12px;

      span {
        display: inline-block;
        padding: 0 7px;
      }

      .pro {
        background-color: $blue;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }

      .con {
        background-color: $red;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
    }
  }
}
