@import 'node_modules/bulma/sass/utilities/initial-variables.sass';
@import 'node_modules/bulma/sass/utilities/functions.sass';

$primary: #3273dc;
$primary-invert: findColorInvert($primary);
$light: #fafbfc;

@import 'node_modules/bulma/bulma.sass';

@import 'node_modules/normalize.css/normalize';
@import './_base';
@import './blocks/_b-loading';
@import './blocks/_b-sign';
@import './blocks/_b-navbar';
@import './blocks/_b-topic';
@import './blocks/_b-topic-list';
@import './blocks/_b-arguments';
@import './blocks/_b-argument';
@import './blocks/_b-profile';
@import './blocks/_b-settings';
